@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light";

.multiselect-native-select .btn-group {
    width: 100% !important;
}

.multiselect-native-select .dropdown-menu {
    width: 100% !important;
}

.multiselect-native-select .input-group-text {
    padding-top: 11px;
    padding-bottom: 11px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.multiselect {
    width: 100% !important;
}





.form-check-label-my {
    position: relative;
    bottom: -1.6px;
}